body {
  font-family: "Libertinus Mono", monospace;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.continer {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
 
}

li{
  gap: 5px;
  justify-content: center;
  width: 100%; 
  display: flex;
  margin-top: 30px;
  list-style: none;
  align-content: space-around
  

}
.btn-remove{
  margin: 0;
  border: none;
  margin-left: -4;
  background-color: #B22222;
  color: white;
  padding: 3px;
  border-radius:3px;
  outline: none;
}

.btn-add{
  background-color: #06923E;
  border: none;
  padding: 2px 10px;
  color: white;
  border-radius: 3px;
  margin: 0;
}

input{
  padding: 3px;
  outline: none;
  width: 200px;
  border: none;
  margin: 0;
  border-radius: 3px;
  
}

h1{
  text-align: center;
}
.btn-add:hover,.btn-remove:hover{
  opacity: 0.9;
  cursor: pointer;
}

span{
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  border-radius: 9999px;
  color: white;
  justify-self: flex-start;
  background-color: #212121;
}
